<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>mian</title>
<link rel="stylesheet" type="text/css" href="css/iview.css">
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/iview.min.js"></script>
<script src="js/axios.min.js"></script>
</head>
<body background="images/background.jpg">
	<div id="app">
		<div style="text-align: center; margin-top: 200px">
			<div style="margin-bottom: 25px; margin-top: 50px">
				数量：
				<i-input v-model="count" placeholder="请输入..." style="width: 200px"></i-input>
				<strong style="color: rgb(210, 15, 15); margin-right: 25px">{{count/10000}}万</strong>
			</div>

			<div>
				<i-progress :percent="percent"
					style="width: 300px;margin-bottom: 25px" />
			</div>
			<div>
				<i-button v-if="codeCreate" type="primary" @click="create()"
					style="margin-left: 230px">生成</i-button>
				<strong v-if="codeCreating"
					style="color: rgb(44, 204, 130); margin-left: 190px">正在生成TXT文件</strong>
				<a :href="'temp/progress.txt'" download="download"> <i-button
						v-if="codeDownload" type="success"
						style="margin-left: 10px;margin-left: 230px">下载</i-button>
				</a>
			</div>
		</div>
	</div>
	<script>
    new Vue({
        el: '#app',
        data: {
        	/*用于展示的百分数*/
            percent: 0,
            /*控制组件是否显示*/
            codeCreate: true,
            /*控制组件是否显示*/
            codeCreating: false,
            /*控制组件是否显示*/
            codeDownload: false,
            /*需要生成的数量*/
            count: null
        },
        mounted(){
        },
        methods: {
        	/*生成按钮的点击事件*/
            create(){
                var r = /^\+?[1-9][0-9]*$/;　　//正整数 
                if(r.test(this.count)){
                    axios({
                      method: 'post',
                      url: '/wh/progress',
                      data: {
                        "count": this.count+""
                      },
                      dataType:'json'
                    }).then(function (response) {
                        if(response.data =="SUCCESS"){
                            this.codeCreate = false;
                            this.codeCreating = true;
                            this.getProgressPercent();
                        }else{
                            this.$Message.error("生成失败，请检查后重新生成！");
                        }                        
                    }.bind(this)).catch(function (error) {
                      alert(error);
                    });
                }else{
                    this.$Message.error("必须为数字！");
                }
            },
            /*从后台拿到半分比数*/
            getProgressPercent(){
                setTimeout(() => {
                    axios({
                      method: 'get',
                      url: '/wh/progress',
                      dataType:'json'
                    }).then(function (response) {
                        if(response.data != null){
                            if(response.data != "100"){
                                this.percent = parseInt(response.data);
                                this.getProgressPercent();
                            }else{
                                this.percent = parseInt(response.data);
                                this.delPercentInRedis();
                                this.codeCreating = false;
                                this.codeDownload = true;
                                this.$Message.info('生成完成');
                            }
                        }else {
                            this.getProgressPercent();
                        }
                    }.bind(this)).catch(function (error) {
                      alert(error);
                    });
                }, 1000);
            },
            /*txt生成后删除redis中对应的数据*/
            delPercentInRedis(){
                axios({
                  method: 'delete',
                  url: '/wh/progress',
                  data: {},
                  dataType:'json'
                }).then(function (response) {
                }.bind(this)).catch(function (error) {
                  alert(error);
                });
            }
        }
    })
  </script>
</body>
</html>
